.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.App-footer {
  background-color: #ff7323;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App-link {
  color: #ff7323;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.Header-logo {
  display: flex;
  flex-direction: column;
  align-items: left;
}
